<div class="landing-page">
    <header class="header">
        <div class="header-content">
          <div class="logo-nav-container">
            <div class="logo-container">
              <img loading="lazy" src="https://cdn.builder.io/api/v1/image/assets/TEMP/ea878e598f9b6466914799fa8d99c787f096aa47bac41f1253d6315ac48a5cb5?placeholderIfAbsent=true&apiKey=a6e250b3254f4a399504301b58300c8c" alt="Medisafe Private Clinic Logo" class="logo-image" />
              <h1 class="clinic-name">MEDISAFE PRIVATE CLINIC</h1>
            </div>
            <nav class="main-nav">
              <a href="/" class="nav-item">Home</a>
              <a routerLink="/about" class="nav-item">About Us</a>
              <a routerLink="/doctors" class="nav-item">Doctors</a>
              <a routerLink="/services" class="nav-item">Services</a>
              <a routerLink="/other" class="nav-item">Other</a>
              <a routerLink="/contacts" class="contacts-link">Contacts</a>
            </nav>
          </div>
          <div class="auth-container">
            <div class="auth-buttons">
              <button class="auth-button signup" (click)="dashboard()">DASHBOARD</button>
            </div>
          </div>
        </div>
      </header>
      
    <main class="main-content">
      <section class="services-section">
        <img loading="lazy" src="https://cdn.builder.io/api/v1/image/assets/TEMP/d8a5953392515e10471fafd33aba11a33cbebdd0c415c27acb2680d2a7e69512?placeholderIfAbsent=true&apiKey=a6e250b3254f4a399504301b58300c8c" alt="Medisafe Clinic Facility" class="hero-image" />
        <ul class="services-list">
          <li>General Consultation</li>
          <li>Review</li>
          <li>Lab referrals</li>
          <li>General Screening</li>
          <li>Dentistry</li>
          <li>Psychology</li>
        </ul>
      </section>
    </main>
    <footer class="footer">
      <div class="footer-content">
        <img loading="lazy" src="https://cdn.builder.io/api/v1/image/assets/TEMP/689cb64e10ec795ece15868b9e3f7149b0e3bf59f8a7ff6ced5ab25e8a44a4a0?placeholderIfAbsent=true&apiKey=a6e250b3254f4a399504301b58300c8c" alt="Doctor 1" class="doctor-image" />
        <img loading="lazy" src="https://cdn.builder.io/api/v1/image/assets/TEMP/08fb0b0e366e2f730ec21e94faeabec6ca002d0ac3677877042870a9f60ad099?placeholderIfAbsent=true&apiKey=a6e250b3254f4a399504301b58300c8c" alt="Doctor 2" class="doctor-image" />
        <img loading="lazy" src="https://cdn.builder.io/api/v1/image/assets/TEMP/b5177a818ca8564108b1624b08511ec3ae20461f4b229339b61870c644b2e4a4?placeholderIfAbsent=true&apiKey=a6e250b3254f4a399504301b58300c8c" alt="Doctor 3" class="doctor-image" />
      </div>
    </footer>
  </div>
  